body { 
    display:flex;
    gap: 4px;
    max-height: fit-content;
}
.left{ 
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(131, 86, 176);
    width: 30%;
    min-width: 250px;
}


.image{ 
   display:flex;
   align-items: center;

}

img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%; 
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right div {
    display: flex;
    flex-direction: column;
}

.right h3 {
    background-color: rgb(131, 86, 176);
    border-radius: 6px;
    padding: 1px;
    text-align: center;
    color: beige;
}